<footer id="footer">
    <p></p>
    <div class="fot-icons">
      
      <a href="https://www.linkedin.com/in/harsh-sharma-486a38211/"><i class="fab fa-facebook-f"></i></a>
      <a href="https://instagram.com/hs_harsh_6401?utm_medium=copy_link"> <i class="fab fa-instagram"></i></a>
       <a href = "mailto: thisis.sharsh@gmail.com"><i class="fab fa-google"></i></a>
       <a href="https://www.linkedin.com/in/harsh-sharma-486a38211/"><i class="fab fa-linkedin-in"></i></a>
       <a href = "https://github.com/harshsharma6401"><i class="fab fa-github"></i></a>
       <a href = "mailto: thisis.sharsh@gmail.com"><i class="fab fa-twitter"></i> </a>
      
    </div>

      <p>© Made with &#x1F496; by Harsh </p>
</footer>